################################
# 1) Core/API и общие библиотеки
################################
pydantic>=2
python-dotenv==1.0.1
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2
requests==2.32.3
pyarrow==15.0.0
fastparquet==2024.11.0

#########################################
# 2) Тренировка классических моделей (ML)
#########################################
scikit-learn==1.7.1
scipy==1.13.1
mlflow==2.14.1
matplotlib==3.8.4
optuna==4.5.0
SQLAlchemy==1.4.52
psycopg2-binary==2.9.9
nltk==3.8.1
textblob==0.18.0

#############################
# 3) Обработка данных в Spark
#############################
pyspark==3.5.1

#######################
# 4) Загрузка датасетов
#######################
kaggle==1.6.17
kagglehub==0.2.5

##################################################################
# 5) [Опционально] NLP/torch для больших моделей
#    Включите, если нужен DistilBERT/Transformers в контейнерах.
#    CPU: используйте обычный torch без суффикса +cu*.
#    GPU: требуется CUDA-среда и правильные колёса.
##################################################################
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.1 # GPU: torch==2.3.1+cu121
transformers==4.45.0
